h1{
    color: red;
    background-color: yellow;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
body{
    background-color: aquamarine;

}

